<footer id="footer">
  <div class="flex gap-10 flex-col lg-flex-row p-8 justify-between">
    <div id="footer-brand">
      <a href="/" id="footer-logo">
        <img src="/images/logo-text-light.png" alt="TechCareersHub Logo" id="footer-logo-img" />
      </a>
      <p class="text-gray text-md">Tech a new pathway and develop your skills</p>
    </div>
    <div class="justify-end">
      <div class="flex gap-10 flex-col lg-flex-row">
        <div class="footer-column">
          <h4>Resources</h4>
          <ul>
            <li><a href="/pages/hub.html">Career Hub</a></li>
            <li><a href="/pages/resources.html">Resources</a></li>
          
          </ul>
        </div>
        <div class="footer-column">
          <h4>Company</h4>
          <ul>
            <li><a href="/pages/contact.html">Contact Us</a></li>
            <li><a href="/pages/whoweare.html">Who We Are</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Legal</h4>
          <ul>
            <li><a href="/privacy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Connect</h4>
          <ul>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-bottom">
    <p>&copy; <span id="current-year"></span> TechCareersHub. All rights reserved. An initiative by the Mayor's Fund for London.</p>
  </div>
</footer>
