#resources-section-hub {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 1200px;
}

#resources-section-hub .grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
}

@media (max-width: 445px) {
  #resources-section-hub .grid {
    grid-template-columns: 1fr; 
  }
}

#resources-section-hub > * {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  border: 1px solid #e5e7eb;
}

#resources-section-hub .title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#resources-section-hub .description {
  color: #6b7280;
  margin-bottom: 1rem;
}

#resources-section-hub .subtitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#resources-section-hub .list {
  list-style-type: disc;
  padding-left: 1.25rem;
  color: #6b7280;
  margin-bottom: 1rem;
}

#resources-section-hub .list a {
  color: #a100ff;
  text-decoration: none;
}

#resources-section-hub .list a:hover {
  text-decoration: underline;
}

#resources-section-hub .card {
  border: 1px solid #a100ff;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #fff;
}

#resources-section-hub .card-header {
  margin-bottom: 1rem;
}

#resources-section-hub .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

#resources-section-hub .card-content {
  color: #6b7280;
}

#resources-section-hub .card-content p a {
  color: #a100ff;
}
/* #resources-section-hub .card-content a:hover {
  text-decoration: underline;
}  */

.border-t {
  border-top: 1px solid #e5e7eb;
  padding-top: 2rem;
}

/* Modal Styles */
.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  backdrop-filter: blur(5px);
  transition: opacity 0.3s ease-in-out;
}

.modal.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0 1rem;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 1rem;
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  border-radius: 2rem;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

/* Quiz Styles */
.question {
  margin-bottom: 20px;
  padding: 15px;
  background: #f8f8ff;
  border-left: 5px solid #a100ff;
  border-radius: 8px;
}
.question h3 {
  margin: 0;
  color: #333;
}
input[type="radio"] {
  margin-right: 8px;
}
#result {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #a100ff;
  font-weight: bold;
}
#result img {
  display: block;
  margin: 20px auto;
}