body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
}

/* swiper */
body {
  position: relative;
  height: 100%;
}


.TheTeam-container h1 {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(45deg, #a100ff, #0072c6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
  animation: fadeIn 3s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.swiper-slide {
  width: 200px;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 150px;
    font-size: 16px;
    padding: 15px;
  }
}

.swiper-slide img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px solid #a100ff;
}

.slide-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px solid #a100ff;
}

@media (max-width: 768px) {
  .swiper-slide img {
    width: 150px;
    height: 150px;
  }

  .slide-image {
    width: 100px;
    height: 100px;
  }
}
/* .slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
} */
.swiper-container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  padding: 20px 0;
}
